<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Items</title>
</head>

<body>


<div class="container">

    <hr>
    <h2>AVAILABLE ITEMS FOR PURCHASE</h2>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Item Name</th>
            <th>Price(INR)</th>
            <th>Manufacturer</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temp : ${itemStores}">
            <td th:text="${temp.itemName}" align="center"/>
            <td th:text="${temp.price}" align="center"/>
            <td th:text="${temp.company}" align="center" />
            <td><form action="#" th:object="${item}"
                      th:action="@{/save/}+${temp.id}" method="POST">

                <input type="text" th:field="*{quantity}"
                       class="form-control mb-2 col-2">
                <p style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</p>

                <button type="submit" name="action" class="btn btn-success col-4 ">Add To Cart</button>

            </form>
            </td>
        </tbody>
    </table>
    <div><hr>
        <h3>Ratings</h3><hr>
    <table class="table table-bordered table-striped" style= "width:70%;float: left">
        <thead class="thead-dark">
        <tr>
            <th>Item Name</th>
            <th>Price(INR)</th>
            <th>Manufacturer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temp : ${itemStores}">
            <td th:text="${temp.itemName}" align="center"/>
            <td th:text="${temp.price}" align="center"/>
            <td th:text="${temp.company}" align="center" />
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped" style= "width:30%;float: left">
        <thead class="thead-dark">
        <tr>
            <th>Current Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temp : ${ratings}">
            <td th:text="${temp}" align="center"/>
        </tr>
        </tbody>
    </table>

        <a th:href="@{/list}" class="btn btn-info mb-3"> Back to Cart </a>
        <a th:href="@{/welcome}" class="btn btn-info mb-3"> Back to Home Page </a>
    </div>

</div>
<script th:inline="javascript">
/*<![CDATA[*/
var val = /*[[${updateDenied}]]*/;
if(val!=null){
alert("This item is already present in your cart!");
window.location="/showItems";
}
/*]]>*/
</script>
<script th:inline="javascript">
/*<![CDATA[*/
var val = /*[[${quantityError}]]*/;
if(val!=null){
alert("Maximum of 8 Items and Minumum of 1 Item is allowed");
window.location="/showItems";
}
/*]]>*/
</script>
</body>
</html>


