<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Items</title>
</head>

<body>


<div class="container">


    <div sec:authorize="isAuthenticated()">
        <hr>
    <h3 align="center">Items List of
        <span sec:authentication="name"></span></h3></div>
     </h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/showItems}"
       class="btn btn-primary btn-sm mb-3">
        Add Item
    </a>
    <a th:href="@{/showRatings}" class="btn btn-primary btn-sm mb-3" > View Ratings </a>
    <a th:href="@{/welcome}" class="btn btn-primary btn-sm mb-3" > Go Back </a>

    <div class="container">
    <table class="table table-bordered table-striped" style= "width: 60%;float: left">
        <thead class="thead-dark">
        <tr>
            <th>Item Name</th>
            <th>Manufacturer</th>
            <th>Price(INR)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temp : ${itemStores}">
            <td th:text="${temp.itemName}"/>
            <td th:text="${temp.company}" />
            <td th:text="${temp.price}"/>
        </tr>
        </tbody>
    </table >
    <table class="table table-bordered table-striped" style= "width: 20%;float: left">
        <thead class="thead-dark">
        <tr>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temp : ${quantity}">
            <td th:text="${temp}"/>
        </tr>
        </tbody>
    </table >
    <table class="table table-bordered table-striped" style= "width:20%;float: left">
        <thead class="thead-dark">
        <tr>
            <th>Total Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temp : ${totalList}">
            <td th:text="${temp}"/>
        </tr>
        </tbody>
    </table>
        <br>
    </div>

<hr>
<h2 th:inline="text" align="right">
    Checkout Total : [[${cartTotal}]]
</h2>
    <br><hr>

    <div>
    <table class="table table-bordered table-striped" >
        <thead class="thead-dark">
        <tr>
            <th>Item Name</th>
            <th>Manufacturer</th>
            <th>Price(INR)</th>
            <th>Rate the Item</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="temp : ${itemStores}">
            <td th:text="${temp.itemName}" />
            <td th:text="${temp.company}" />
            <td th:text="${temp.price}" />
            <td><form action="#" th:object="${rate}"
                      th:action="@{/rating/}+${temp.id}" method="POST">
                <div class="input-group">
                <input type="text" th:field="*{rating}"
                       class="form-control col-1" style="height:30px" >
                <p style="color:red" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Rating Error</p>
                    <span class="input-group-btn">
                        <button type="submit" name="action" class="btn btn-success btn-sm">Save Rating</button>
                    </span>
                </div>
            </form>
            </td>
            <td>
                <a th:href="@{/delete/}+${temp.id}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this Item?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>


</div>
<script th:inline="javascript">
    /*<![CDATA[*/
        var val = /*[[${items}]]*/;
        if(val.length===0){
        alert("Your cart is Empty!");
        window.location="/showItems";
    }
    /*]]>*/
   </script>
<script th:inline="javascript">
     /*<![CDATA[*/
        var rating = /*[[${ratingDenied}]]*/;
        if((rating==="Denied")){
        alert("Please Rate on a Scale of 1-5");
        window.location="/list";
    }
    /*]]>*/
    </script>
<script th:inline="javascript">
     /*<![CDATA[*/
        var value = /*[[${ratingSaved}]]*/;
        if(!(value==="null")){
        alert("Rating has been saved Successfully");
        window.location="/list";
    }
    /*]]>*/
    </script>

</body>
</html>


