<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Welcome</title>
</head>
<body><br>
  <div class="container">

        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
      <div sec:authorize="isAuthenticated()"><h2>Welcome  <span sec:authentication="name"></span></h2></div>
        <h2><br>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/admin/new}" class="btn btn-info col-2">Create New Item</a>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/admin/showItems}" class="btn btn-info col-2">View All Items</a>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/admin/showRatings}" class="btn btn-info col-2">View Ratings</a>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/admin/showUsers}" class="btn btn-info col-2">View All Users</a>
            </div>
            <div sec:authorize="hasAuthority('USER')">
                <a th:href="@{/showInfo}" class="btn btn-info col-2">Profile</a></div>
            <div sec:authorize="hasAuthority('USER')">
                <a th:href="@{/list}" class="btn btn-info col-2">Go to Cart</a></div>
             <a th:onclick="document.forms['logoutForm'].submit()" class="btn btn-danger col-2">Logout</a></h2>

  </div>
</body>
</html>