<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Register</title>
</head>

<body>
<div class="container">

    <hr>
    <h3>SIGN UP FORM</h3>
    <hr>

    <p class="h4 mb-4">Enter Details</p>

    <form id="myform" name="myform" action="#" th:action="@{/registration}"
          th:object="${userForm}" method="POST">

        <input type="text" th:field="*{username}"
               class="form-control mb-4 col-4" placeholder="Name" required>
        <p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>

        <input type="text" th:field="*{email}"
               class="form-control mb-4 col-4" placeholder="Email" required>
        <p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>

        <input type="text" th:field="*{mobile}"
               class="form-control mb-4 col-4" placeholder="Mobile Number" required>
        <p style="color:red" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">Mobile Error</p>

        <input type="password" th:field="*{password}"
               class="form-control mb-4 col-4" placeholder="Password" required>

        <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>

        <input type="password" th:field="*{passwordConfirm}"
               class="form-control mb-4 col-4" placeholder="Confirm Your Password" required>
        <p style="color:red" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password Confirm Error</p>
        <small class="form-text text-muted mb-4">
            Password should contain atleast 8 characters
        </small>

        <button type="submit" class="btn btn-success col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/login}" class="btn btn-info col-2">Go Back</a>

    </div>
     </body>
</html>



























