<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Update Form</title>
</head>
<body >

<div class="container">

    <hr>
    <h3>Update Your Info</h3>
    <hr>

    <p class="h4 mb-4">Enter Mobile Number</p>

    <form name="myform" th:action="@{/update}"
          th:object="${user}" method="POST" >

        <!-- Hidden Id to handle Update -->
        <input type="hidden" th:field="*{userId}" />

        <input type="text" th:field="*{mobile}"
               class="form-control mb-4 col-4" placeholder="Mobile Number" required>
        <p style="color:red" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">Mobile Error</p>


        <button typef="submit" class="btn btn-success col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/showInfo}" class="btn btn-info col-2">Go Back</a>

</div>
     </body>
</html>