<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Update Password</title>
</head>
<body >

<div class="container">

    <hr>
    <h3>Update Your Password</h3>
    <hr>



    <form name="myform" action="#" th:action="@{/updatePassword}"
          th:object="${user}" method="POST" >

        <!-- Hidden Id to handle Update -->
        <input type="hidden" th:field="*{userId}" />


        <input type="password" th:field="*{password}"
               class="form-control mb-4 col-4" placeholder="New Password" required>
        <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>

        <input type="password" th:field="*{passwordConfirm}"
               class="form-control mb-4 col-4" placeholder="Confirm Your New Password" required>
        <p style="color:red" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password Confirm Error</p>
        <small class="form-text text-muted mb-4">
            Password should contain atleast 8 characters
        </small>


        <button typef="submit" class="btn btn-success col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/showInfo}" class="btn btn-info col-2">Go Back</a>

</div>
</body>
</html>